body {
    background-color: #3f3d56;
    font-size: 18px;
    font-family: 'Roboto Slab', sans-serif;
}
.container{
    padding: 3rem;
}
@media only screen and (max-width: 720px){
    .container{
        padding: 1rem;
    }   
}