<head>
	<title>About</title>
</head>

{% extends "base.html" %}
{% block content %}

<div>
    <h1>About</h1>
    <hr>
    <h3>Preface</h3>
    <p>
    Hello Recruiters at Dynamic Solution Innovators! <br>
    I am Jawad Aziz Khan and this is my submission for the DSi Software Engineer Recruitment Code Test.<br>
    The whole website is a made up demo to showcase my skills and design sensibilities. I am sure there is much for you to see here and I am excited to hear your thoughts and opinions.
    </p>
    <hr>
    <h3>Features</h3>
    <p>Here are all the things I used to build the demo (frontend and backend included).</p>
    <ul>
        <h5><b>Backend</b></h5>
        <li>Backend : Python, my favorite language to code in because of how conprehensive and easy it is.</li>
        <li>Framework : Flask, super fast development and deployment backend framework</li>
        <li>Database : TinyDB, a Mongo-like document-based internal Python database that uses JSON and query functions</li>
        <li>Validation : Email_validator python module used for validating email addresses</li>
        <br>
        <h5><b>Frontend</b></h5>
        <li></li>
    </ul>
</div>

{% endblock %}