<head>
    <title>Welcome to Quackoders</title>
</head>

{% extends "base.html" %}
{% block content %}

<!-- <hr class="my-5"> -->
<div class="row" style="text-align: center; color: #3f3d56;">
    <div class="col-12 col-md-6">
        <!-- <img src="static/undraw_balloons.png" class="img-fluid p-2" alt="DevPortal"> -->
        <div>
            <img src="static/quack_main.png" class="img-fluid p-2" alt="Home Splash">
        </div>
        <div>
            <h2>Don't bust your feathers Coding!</h2>
            <p class="lead">We're here to provide flightful software development services that aren't a total quack</p>
        </div>
    </div>
    <div class="col-12 col-md-6 align-items-center">
        <h1>Head to our DevPortal</h1>
        <div class="container">
            <div class="container">
                <h3>Login</h3><br>
                <a href="/login" class="btn btn-warning btn-lg text-white">Login <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            <hr>
            <div class="container">
                <h3>Sign up</h3><br>
                <a href="/signup" class="btn btn-warning btn-lg text-white">Sign Up <i class="fas fa-plus-circle"></i></a>
            </div>
        </div>
    </div>
</div>
<hr>
<h2 style="text-align: center; color: #3f3d56;">What we build on:</h2>
<div class="row container text-white">
    <div class="col-12 col-md bg-success p-4 d-flex flex-column">
        <i class="fab fa-android fa-5x" style="margin-bottom: 1rem;"></i>
        <span>Android</span>
        <span>Java</span>
        <span>Retrofit</span>
        <span>Gson</span>
    </div>
    <div class="col-12 col-md center bg-dark py-4 d-flex flex-column">
        <i class="fab fa-unity fa-5x" style="margin-bottom: 1rem;"></i>
        <span>Unity</span>
        <span>Blender</span>
        <span>Inkscape</span>
        <span>Vuforia</span>
    </div>
    <div class="col-12 col-md center bg-warning py-4 d-flex flex-column">
        <i class="fab fa-python fa-5x" style="margin-bottom: 1rem;"></i>
        <span>Python</span>
        <span>Pandas</span>
        <span>Open-CV</span>
        <span>Matplotlib</span>
    </div>
    <div class="col-12 col-md center bg-info py-4 d-flex flex-column">
        <i class="fab fa-js fa-5x" style="margin-bottom: 1rem;"></i>
        <span>Web Tech</span>
        <span>CSS + Bootstrap</span>
        <span>Handlebars</span>
        <span>MongoDB</span>
    </div>
</div>


{% endblock %}